.button {
  overflow: hidden;
  outline-offset: -2px;

  &:hover {
    outline: 2px solid var(--mantine-color-gray-4);
    cursor: pointer;
  }
}

.active {
  outline: 2px solid rgb(0, 255, 0);
}

.image {
  image-rendering: pixelated;
}
