.node {
  width: 40em;
  text-align: initial;
  padding: 1.5em;
}

.node.selected {
  outline: 3px solid rgb(0, 255, 0);
}

:global(.react-flow__handle) {
  background: var(--mantine-color-blue-6);
  width: 1em;
  height: 1em;
}
